/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(8, 41, 30);
}

.heading {
    color: brown;
    text-align: center;
    margin-top: 80px;
}

.heading i {
    color: rgb(76, 100, 27);
    margin-right: 10px;
}

.container {
    text-align: center;
    margin-top: 40px;
}

#input, #addBtn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(140, 134, 196);
    margin-bottom: 30px;
}

#addBtn {
    background-color: darkolivegreen;
    margin-left: 5px;
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
}

.todo input {
    font-size: 30px;
    color: rgb(244, 248, 252);
    display: inline-block;
    width: 350px;
    background-color: inherit;
    border: none;
    outline: none;
}

.todo button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 5px;
    color: rgb(235, 223, 217);
    cursor: pointer;
}

.todo #editBtn, .todo #saveBtn {
    background-color: teal;
}

.todo #deleteBtn {
    background-color: tomato;
} */

/* ================================= Covid ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    background-color: grey;
} */

.heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: cursive;
}

.covidIcon {
    font-size: 4rem;
    color: brown;
    margin-right: 10px;
}

.heading h1 {
    color: darkcyan;
    font-family: cursive;
}

.details {
    display: flex;
    flex-wrap: wrap;
    color: rgb(209, 231, 213);
    margin: 20px;
}

.main {
    margin: 0 auto;
}

/* .main:first-child {
    color: #f53b57;
    background-color: yellowgreen;
}

.main:first-child .state {
    color: rgb(236, 229, 188);
} */

.individual {
    height: 200px;
    width: 300px;
    margin: 5px;
    padding: 5px;
    background-color: #596275;
}

/* .head {
    margin-bottom: 5px;
} */

.state {
    color: yellowgreen;
    text-align: center;
    height: 25%;
    font-family: monospace;
}

#input {
    display: block;
    margin: 0 auto;
    border: 3px solid green;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    font-size: 20px;
}